
  * {
    box-sizing: border-box;
   
     }
   
   html{
       font-size: 16px;
       font-family:  "Roboto", sans-serif;
       overflow-y: scroll;
   }
   
   h1{
     font-family: "Roboto Slab", serif ;
     font-weight: 300;
     text-align: center;
     letter-spacing: 0.08em;
     font-size: 3.75rem;
     line-height: 1.2em;
   }
   
   a{
     color: #ffffff;
     text-decoration: none;
   }
   
   .btn{
     height: 60px;
     min-width: 250px;
     display: block;
     font-size: 1.125rem;
     text-align: center;
     padding: 18px 20px;
     letter-spacing: 0.1em;
     transition:   background-color 0.5s;
   }
   
   .btn:hover{
     background-color: #d66926;  
   }
   
   .btn--light{
     min-width: 250px;
     background-color: rgba(255, 255, 255, 0.1);
     border: 2px solid white;
   }
   
   .btn--primary{
     min-width: 350px;
     background-color: rgba(45, 54, 81, 0.8);
     border: 2px solid #2d3651;  
   }