.header{
    min-height: 100vh;
    color: #ffffff;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 0;
    display: grid;
    align-content: center;    
} 